@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 70%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

main {
    position: relative;
}


header {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
    transition: background-color .5s ease;
}

header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    color: #F8F9FA;
}

.menu {
    width: 19rem;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    font-size: 0.75rem;
}

.menu-link {
    color: #E5E5E5;
}

.menu-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #D4A373;
    display: block;
    opacity: 0;
    transition: opacity .3s ease, transform 0.3s ease;
    transform: translateY(5px);
}

.menu-link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

hr {
    background-color: #E5E5E5;
    width: 1px;
    border: none;
    outline: none;
}

.home {
    padding-bottom: 8.75rem;
    padding-top: 18.125rem;
}

.category {
    color: #FFF;
    display: inline-block;
    font-weight: 700;
    font-size: 0.625rem;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.title, .paragraph {
    max-width: 540px;
}

.title {
    color: #FFF;
    font-size: 2.25rem;
}

.paragraph {
    font-size: 0.75rem;
    color: #FFF;
    margin-top: 0.75rem;
}

.swiper-slide {
    width: 100%;
}

.swiper-wrapper {
    position: static !important;
}

.swiper>.container {
    transform: translateY(calc(-8.75rem + 42px));
}

.swiper-pagination {
    text-align: left !important;
    position: static !important;

}

.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1) !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: rgba(255, 255, 255, 0.6) !important;
}

.popular-topics {
    padding-top: 9.375rem;
}

.popular-topics>.container>.title, .editors-pick>.container>.title {
    color: #495057;
    padding-bottom: 1.875rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.875rem;
    align-items: center;
}

.filter {
    display: inline;
    padding-right: 1.25rem;
    font-size: 0.75rem;
}

.filter>a, .view-all {
    color: #495057;
}

.view-all {
    padding-right: 0;
    white-space: nowrap;
}

.active-filter {
    color: #D4A373 !important;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.125rem 1.25rem;
}

.articles>.article {
    max-width: 310px;
    height: fit-content;
}

.img {
    position: relative;
    width: fit-content;
    margin-bottom: 0.875rem;
}

.img>.category, .article>.category {
    position: absolute;
    right: 20px;
    top: 20px;
}

.date {
    color: #6C757D;
    font-size: 0.75rem;
    margin-bottom: 0.875rem;
}

.lead {
    color: #495057;
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
}

.descr {
    color: #6C757D;
    font-size: 0.75rem;
}

.big-post {
    background: url(../img/background4.jpg) no-repeat center top /cover;
    /*display: flex;
    justify-content: center;*/
    text-align: center;
    margin-top: 9.25rem;
}
.big-post>* {
    text-align: center;
    margin: auto;
    color: #FFF;
}

.big-post>hr {
    width: 30px;
    height: 1px;
    background: #FFF;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.big-post>.category {
    margin-top: 11.125rem;
    margin-bottom: 1.5rem;
}

.big-post>.title {
    padding-bottom: 0.75rem;
}

.big-post>.date {
    padding-bottom: 11.125rem;
}

.editors-pick {
    padding-top: 9.375rem;
    margin-bottom: 9.375rem;
}

.editors-pick>.container>.title {
    padding-bottom: 4.375rem;
}

.picked-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;
}

.picked-articles>.article {
    position: relative;
    width: fit-content;
}

.article>img, .article>.category {
    transition: all .5s ease-out;
}


.article>.category {opacity: 0;}
.info {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: left .5s ease, bottom .5s ease, opacity .5s ease;
    width: 93%;
    pointer-events: none;
}

.info>* {
    color: #FFF;
    max-width: 340px;
}

.info>.lead {
    max-width: 270px;
}

.info-active {
    left: 7%;
    bottom: 8%;
    opacity: 1;
}


footer {
    background: #212529;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 6.625rem;
    padding-bottom: 6.625rem;
}

.footer-menu-item:first-child {
    font-size: 1.125rem;
    color: #FFF;
}

.footer-menu-item {
    font-size: 0.75rem;
    color: #E5E5E5;
    padding-bottom: 1rem;
}

.footer-menu-item>img {
    padding-right: 1.125rem;
}


@media screen and (max-width: 1217px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 3.125rem 1rem;
    }

    .picked-articles {
        grid-template-columns: repeat(2, 1fr);
        gap: .8rem 1.25rem;
    }
}

@media screen and (max-width: 917px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 717px) {
    .picked-articles {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer-menu {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }
}

@media screen and (max-width: 467px) {
    .header>.container {
        flex-direction: column;
    }

    .logo {padding-top: 1.3rem;}

    .menu, .logo {
        padding-bottom: 1rem;
    }

    .home {padding-top: calc(12.5rem + 103px);}

}